.rounded {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    padding: 15px 5px 5px 15px;
    margin-top: 24px;
    height: auto;
}

.row .navbar {
    padding-top: 10px;
    padding-left: 15px;
}

.navbar span.section-title {
    font-size: 15px;
}

.nav-tabs > li.active > a {
    font-weight: bold;
    background-color: rgb(250, 250, 240);

}

td.friend_name, td.friend_url, td.friend_checkbox, td.friend-action-result {
    vertical-align: middle;
}

td.friend_checkbox, td.friend-actions, td.friend-action-result {
    text-align: center;
}

td.friend_checkbox input {
    margin-top: 0px;
}

td.friend-action-result p {
    margin-bottom: 0px;
}

.btn-toolbar {
    margin: 0px 0px 0px 0px;
}

.table-striped th {
    text-align: center;
    vertical-align: middle;
}

.table-striped th input {
    margin-left: 10px;
    margin-top: 0px;
}

div.span3 .bs-docs-sidebar {
    margin-left: 0px;
}
